<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>tableau stock</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />


    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

<!-- ////////////////////// -->
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navr">
      <div class="layout-container">


<!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
              <span class="app-brand-logo demo">
               <img src="/img/icons/icon.png">
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2" style="color: #604020;">Lawn/Care</span>
            </a>
          </div>

           <br><br>
          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
<!-- Dashboard -->
            <li class="menu-item">
              <a href="/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            
<!-- database -->
            <li class="menu-header small text-uppercase">
              <span class="menu-header-text">Database</span>
            </li>
            <li class="menu-item active">
              <a href="javascript:void(0)" class="menu-link menu-toggle">
                 <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div data-i18n="Account Settings">Stock</div>
              </a>
              <ul class="menu-sub">
                
              </ul>
            </li>
            <li class="menu-item">
              <a href="/ajout" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Authentications">Ajout</div>
              </a>

              <ul class="menu-sub">
              </ul>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                <div data-i18n="Misc">Authentications</div>
              </a>
            </li>
            
           
           
<!-- Info -->
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Info</span></li>
            <li class="menu-item">
              <a
                href=""
                target="_blank"
                class="menu-link"
              >
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">Support</div>
              </a>
            </li>
          </ul>
        </aside>
     
        <!-- / Menu -->

       
            <!-- Content wrapper -->
 <p>ggggggggggggggggggggggggggg</p>
          <div class="content-wrapper">

            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">

             <!-- Hoverable Table data -->
               <hr class="my-5" />
              <div class="card">
                <h5 class="card-header">Data from stock</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Plant_name</th>
                        <th>size</th>
                        <th>color</th>
                        <th>quantity</th>
                        <th>price</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
 
                      <% Data.forEach(function(plante) { %>
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= plante._id %></strong></td>
                        <td><%= plante.name %> Cook</td>
                        <td><%= plante.size %></td>
                        <td><%= plante.color %>
                        </td>
                        <td><%= plante.quantity %></td>
                        <td><%= plante.price %></td>
                        <td>

                        
                          <table>
                            <td style="padding: 3px;"><button 
                              data-dismiss="modal"
                              onclick='modify_click("<%= plante._id %>","<%= plante.name %>","<%= plante.size %>","<%= plante.color %>","<%= plante.quantity %>","<%= plante.price %>")'
                              type="button" 
                              class="btn btn-primary"
                             
                              >Update</button>
                          
                            
                            
                            </td>
                            <td style="padding: 3px;"><button 
                              data-dismiss="modal"
                              onclick='delete_click("<%= plante._id %>")'
                              type="button" 
                              class="btn btn-primary"
                             
                              >Delete</button>
                          
                            
                            
                            </td>
                            
                        
                          </table>
                        </td>
                      </tr>
                      <% });%>
            <!-- ---------------------------------------------------------------------------------------------------------------- -->
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Hoverable Table stock -->
            </div>
          </div>
          
            <!-- /Content -->
<script   >
            function delete_click(id)
            {
              
              

              $(".modal-body2 #plt").val( id );
          
             $("#modalToggle2").modal('show');
      
            }



            function modify_click(id,name,color,size,quantity,price)
            {
              
              

              $(".modal-body #plt").val( id );
              $(".modal-body #name").val( name );
              $(".modal-body #color").val( color );
              $(".modal-body #size").val( size );
              $(".modal-body #qte").val( quantity );
              $(".modal-body #price").val( price );
             $("#modalCenter").modal('show');
        
        
      
            }
            

</script>
              <!-- Modal modify -->
              <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true" >

                <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                  <form  action="/modify_plate/?_method=put" method="post">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalCenterTitle">Update</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col mb-3">
                          <input type="hidden" name="id" id="plt">
                          <label for="nameWithTitle" class="form-label">Name</label>
                          <select id="largeSelect" class="form-select form-select-lg" name="name" id="name">
                            <option value="Sunflower">Sunflower</option>
                          <option value="Majesty palm">Majesty palm</option>
                          <option value="Faux olive tree">Faux olive tree</option>
                          <option value="Faux olive tree">Cyclos Revoluta</option>
                          <option value="Chamae Dorea Elegance">Chamae Dorea Elegance</option>
                          <option value="Ficus Audrey">Ficus Audrey</option>
                          <option value="Cuclanew">Cuclanew</option>
                          </select>
                        </div>
                      </div>
                      <div class="row g-2">
                       


                        <div class="col mb-0">
                          <label for="emailWithTitle" class="form-label">Color</label>
                           <select id="defaultSelect" class="form-select" name="color" value="<% id="color" %> ">
                            <option value="White">White</option>
                            <option value="Pink">Pink</option>
                            <option value="Red">Red</option>
                            <option value="Yellow">Yellow</option>
                          </select>
                        </div>


                        <div class="col mb-0">
                          <label for="dobWithTitle" class="form-label">Size</label>
                           <select id="defaultSelect" class="form-select" name="size" id="size" >
                            <option value="Large">Large</option>
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                          </select>
                        </div>
                      </div>
                      <div class="row g-2">
                       

                        <div class="col mb-0">
                          
                          <label for="emailWithTitle" class="form-label">Quantity</label>
                          <input
                            type="text"
                            class="form-control"
                            name="quantity"
                            id="qte"
                          />
                        </div>


                        <div class="col mb-0">
                          <label for="dobWithTitle" class="form-label">Price</label>
                          <input
                            type="text"
                            class="form-control"
                            id="price"
                            name="price"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                      </button>

                      
                       
                      

                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                
                  </form>
                  </div>
                </div>
              </div>
     



                <!-- Modal delete -->



<!-- Modal 2-->
<div
class="modal fade"
id="modalToggle2"
aria-hidden="true"
aria-labelledby="modalToggleLabel2"
tabindex="-1"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modalToggleLabel2">Delete</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
      </div>
      <div class="modal-body2">
      Etes-vous sur de supprimer cette unité ?
      
      <form  action="/supp_plate/?_method=delete" method="post">
        
      <div class="modal-footer">
      <input type="hidden" name="id" id="plt">
      <button
        class="btn btn-primary"
        type="submit"
       
      >
        Valider
      </button>
  
     </div>
    
      </form>
      </div>
  </div>
</div>
</div>

 <!-- Core JS -->

   
    <script src="/vendor/js/bootstrap.js"></script>


  </body>
</html>
